body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.title{
    font-family: 'Cinzel', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.done-true {
    text-decoration: line-through;
    color: grey;
}

.button-selected {
    background-color: tomato !important;
    color: black !important;
}

.margin-top4pc {
    margin-top: 4%;
}

.modal-custom {
    border: solid black 1px;
    width: 40%;
}

.form-button{
    font-family: 'Cinzel', sans-serif;
    font-size: 18px;
}

.form-field {
    text-align: left;
    font-size: 18px;
}

.table-icon{
    font-size: 22px;
    color: black;
}