.done-true {
    text-decoration: line-through;
    color: grey;
}
.selected {
    background-color: #3adb76;
}
.bold {
    font-weight: bold;
}

.buttonChoiceType {
    margin-top: 4%;
}

.buttonDebitCredit {
    width: 25%;
    border-radius: 4%;
}

.buttonSelected {
    background-color: tomato !important;
    color: black !important;
}